body{
   font-family: "Montserrat";
}



h1{
font-family: "Montserrat-Black";
font-size: 3.5rem;
line-height: 1.5;

}
h3{
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}




#title{
  background-color: #ff4c68;
color: white;

}

#cta{
text-align: center;
background-color: #ff4c68;
color: #fff;
padding: 7% 15%;

}
.cta-heading{

  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid{

  padding: 3% 15% 7%;

}

/* navigation bar  */

.navbar{

padding: 0 0  4.5rem;

}



.navbar-brand{
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;

}
.nav-item{
  padding: 0 18px;

}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}


/* Downloads buttons */

.Downloadbutton{

  margin: 5% 3% 5% 0;
}


/* titleimage */
.titleimage{
  width: 60%;
  position: absolute;
  transform: rotate(25deg);
  right: 30%;


}


/* features */

#features{

  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;


}

.features-box{
  text-align: center;
  padding: 5%;

}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/* footer */


#footer{

padding: 7% 15%;
text-align: center;

}

.social-icon{
  margin: 20px 10px;

}



/*
testimonials */


#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color:#ef8172;
  color: #fff;

}
.testimonial-class{
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}
.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}


#pricing{

text-align: center;
padding: 100px;

}
.pricing-column{

  padding: 3% 2%;
}

.press-logo{
  width: 15%;
  margin 20px 20px 50px;
}

@media (max-width : 1028px) {

#title{

text-align: center;

}
  .titleimage{
  position: static;
  transform: rotate(0);


  }



}
